@charset "utf-8";

body {
	writing-mode: vertical-rl;
		-epub-writing-mode: vertical-rl;
		-webkit-writing-mode: vertical-rl;
	line-height: 1.75;
	text-align: justify;
}

/* mail2epub */
img.mail2epub-cover {
	height: 100%;
}
img.mail2epub-mailmagcontents {
	height: 100%;
}
/*
dl.mail2epub-toc {
}
a.mail2epub-link {
}
a.mail2epub-mailto {
}
a.mail2epub-twitter {
}
a.mail2epub-endnote-symbol {
}
a.mail2epub-endnote-note {
}
*/
div.mail2epub-socialreading {
	border-style: solid;
	border-width: 1px;
	margin: 0.5em;
	padding: 0.2em;
	text-align: right;
	border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
}
div.mail2epub-socialreading a {
	font-size: 1.4em;
}
